<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Default Documents -->
        <defaultDocument>
            <files>
                <add value="index.html" />
            </files>
        </defaultDocument>

        <!-- Static File MIME Types and Caching -->
        <staticContent>
            <!-- MIME Types -->
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            
            <!-- Remove server signature -->
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            
            <!-- Cache static assets for 1 year by default -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31536000.00:00:00" />
        </staticContent>

        <!-- HTTP Response Headers for Security -->
        <httpProtocol>
            <customHeaders>
                <!-- Content Security Policy - Strict policy for privacy-first application -->
                <add name="Content-Security-Policy" 
                     value="default-src 'self'; 
                            img-src 'self' data:; 
                            style-src 'self' 'unsafe-inline'; 
                            script-src 'self'; 
                            font-src 'self'; 
                            connect-src 'self'; 
                            object-src 'none'; 
                            media-src 'none'; 
                            frame-src 'none'; 
                            child-src 'none'; 
                            base-uri 'self'; 
                            form-action 'self'; 
                            frame-ancestors 'none'; 
                            upgrade-insecure-requests" />
                
                <!-- Prevent MIME type sniffing -->
                <add name="X-Content-Type-Options" value="nosniff" />
                
                <!-- Referrer Policy - No referrer for privacy -->
                <add name="Referrer-Policy" value="no-referrer" />
                
                <!-- Permissions Policy - Restrict browser features -->
                <add name="Permissions-Policy" 
                     value="clipboard-read=(self), 
                            clipboard-write=(self), 
                            geolocation=(), 
                            microphone=(), 
                            camera=(), 
                            payment=(), 
                            usb=(), 
                            accelerometer=(), 
                            gyroscope=(), 
                            magnetometer=(), 
                            midi=(), 
                            sync-xhr=(), 
                            fullscreen=(self)" />
                
                <!-- Cross-Origin Policies -->
                <add name="Cross-Origin-Opener-Policy" value="same-origin" />
                <add name="Cross-Origin-Embedder-Policy" value="require-corp" />
                <add name="Cross-Origin-Resource-Policy" value="same-origin" />
                
                <!-- XSS Protection (legacy browsers) -->
                <add name="X-XSS-Protection" value="1; mode=block" />
                
                <!-- Frame Options -->
                <add name="X-Frame-Options" value="DENY" />
                
                <!-- Remove server information -->
                <remove name="Server" />
                <remove name="X-Powered-By" />
                <remove name="X-AspNet-Version" />
                <remove name="X-AspNetMvc-Version" />
            </customHeaders>
        </httpProtocol>

        <!-- Compression for better performance -->
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <httpCompression>
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>


        <!-- Specific caching rules for different file types -->
        <location path="index.html">
            <system.webServer>
                <staticContent>
                    <!-- Don't cache HTML files -->
                    <clientCache cacheControlMode="DisableCache" />
                </staticContent>
            </system.webServer>
        </location>

        <location path="*.js">
            <system.webServer>
                <staticContent>
                    <!-- Cache JavaScript files for 1 month -->
                    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="2592000.00:00:00" />
                </staticContent>
            </system.webServer>
        </location>

        <location path="*.css">
            <system.webServer>
                <staticContent>
                    <!-- Cache CSS files for 1 month -->
                    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="2592000.00:00:00" />
                </staticContent>
            </system.webServer>
        </location>


        <!-- Error Pages -->
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>

        <!-- Security: Remove detailed error information -->
        <httpErrors errorMode="Custom" />

        <!-- URL Rewrite Rules (if URL Rewrite module is installed) -->
        <rewrite>
            <rules>
                <!-- Force HTTPS if available -->
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
                        <add input="{HTTP_HOST}" pattern="127.0.0.1" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" 
                            redirectType="Permanent" />
                </rule>

                <!-- Remove trailing slashes -->
                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <!-- Request Filtering for additional security -->
        <security>
            <requestFiltering>
                <!-- Limit request size to 100MB for large JSON files -->
                <requestLimits maxAllowedContentLength="104857600" />
                
                <!-- Block potentially dangerous extensions -->
                <fileExtensions>
                    <add fileExtension=".exe" allowed="false" />
                    <add fileExtension=".dll" allowed="false" />
                    <add fileExtension=".com" allowed="false" />
                    <add fileExtension=".bat" allowed="false" />
                    <add fileExtension=".cmd" allowed="false" />
                    <add fileExtension=".scr" allowed="false" />
                    <add fileExtension=".pif" allowed="false" />
                </fileExtensions>
                
                <!-- Block dangerous HTTP verbs -->
                <verbs>
                    <add verb="TRACE" allowed="false" />
                    <add verb="TRACK" allowed="false" />
                    <add verb="DEBUG" allowed="false" />
                </verbs>
                
                <!-- Hide sensitive files -->
                <hiddenSegments>
                    <add segment="web.config" />
                    <add segment=".git" />
                    <add segment=".gitignore" />
                    <add segment=".env" />
                    <add segment="node_modules" />
                    <add segment="package.json" />
                    <add segment="package-lock.json" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>

    <!-- Application Settings -->
    <appSettings>
        <!-- Disable debug compilation -->
        <add key="debug" value="false" />
    </appSettings>

    <!-- System.Web settings for additional security -->
    <system.web>
        <!-- Disable version headers -->
        <httpRuntime enableVersionHeader="false" />
        
        <!-- Session state not needed for static site -->
        <sessionState mode="Off" />
        
        <!-- Compilation settings -->
        <compilation debug="false" />
        
        <!-- Trust level -->
        <trust level="Full" />
        
        <!-- Custom errors -->
        <customErrors mode="On" defaultRedirect="/index.html">
            <error statusCode="404" redirect="/index.html" />
        </customErrors>
    </system.web>
</configuration>
